@include max-width(850){
  .typo{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
	  margin-bottom: 0.5rem;
	}

	h1{
	  letter-spacing: 0.05em;
	  line-height: 1.26;
	}

	h2{
	  line-height: 1.3;
	}

	h3{
	  line-height: 1.26;
	}

	&_blog{
	  h2{
		font-size: 20px;
	  }

	  p{
		font-size: 14px;
	  }
	}

	&_about{
	  blockquote{
		& > *{
		  line-height: 126%;
		}
	  }
	}

	&_rent{
	  h5{
		font-weight: 700;
	  }
	}

	&_catalog-detail-text{
	  p {
		&:not(:last-of-type){
		  margin-bottom: 0.571em;
		}
	  }
	}
  }
}