.footer{
  background: var(--color-blue);
  padding-block: rem(35);

  &__body{
    display: flex;
    //align-items: flex-end;
    justify-content: space-between;
    gap: rem(30);
  }

  &__contacts{
    display: flex;
    flex-flow: column;
    gap: rem(10);
  }

  &__socials{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: rem(10);
    max-width: rem(160);
    width: 100%;

    &-title{
      flex-basis: 100%;

      font-weight: 700;
      font-size: rem(15);
      line-height: 100%;
      color: var(--color-white);
      @include min-width(800px){
        text-align: center;
      }
    }

    .social{
      width: rem(44);
      height: rem(44);
    }
  }

  &__descr{
    max-width: rem(380);
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  &__policy,
  &__text{
    font-weight: 400;
    font-size: fluid(16, 14);
    @include min-width(800){
      text-align: right;
    }
    color: var(--color-white);
    line-height: 150%;
  }
}