.form{
  background: var(--color-white);

  border-radius: fluid(24, 10);

  @include min-width(800px){
    padding: rem(10);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__title{
    width: 100%;
    background: var(--color-blue-80);
    //border-radius: rem(10) rem(10) 0 0;
    @include min-width(800px){
      border-radius: fluid(24, 10) fluid(24, 10) 0 0;
    }
    padding: rem(20);
    margin-bottom: fluid(10, 6);

    font-weight: 800;
    //font-size: 40px;
    @include fluid-text(40, 23);
    line-height: 100%;
    text-align: center;
    color: var(--color-white);
  }

  &__tabs{
    //display: flex;
    //align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid(10, 6);
    margin-bottom: fluid(10, 6);
  }

  &__tab{
    flex-grow: 1;
    line-height: fluid(80, 60);
    @include min-width(800px){
      padding-inline: rem(15);
    }
    background: var(--color-blue-20);
    cursor: pointer;

    font-weight: 800;
    @include fluid-text(28, 18);
    text-align: center;
    color: var(--color-white);

    &.active{
      outline: #{rem(5)} solid var(--color-blue-gray-50);
      outline-offset: rem(-5);
    }
  }

  &__body{
    background: var(--color-blue-40);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: fluid(40, 15) fluid(40, 25);


    @include min-width(800px){
      min-height: rem(380);
      border-radius: 0 0 fluid(24, 10) fluid(24, 10);
    }
  }


  &__block,
  &__button,
  &__forgot,
  &__inputs{
    max-width: rem(400);
    width: 100%;
  }

  &__inputs{
    display: flex;
    flex-flow: column;
    gap: fluid(30, 15);
  }

  &__input{
    width: 100%;
    box-shadow: var(--shadow-box-input);
    background: var(--color-white);
    border: rem(1) solid var(--color-black-80);
    border-radius: 10px;
    line-height: rem(36);
    padding-inline: rem(15);

    &::placeholder{
      font-family: var(--third-family);
      font-weight: 400;
      @include fluid-text(18, 16);
      line-height: 100%;
      color: var(--color-black-56);
    }
  }

  &__remember{
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-block: fluid(10, 5);
    min-height: rem(40);
  }

  &__label{
    font-weight: 400;
    @include fluid-text(18, 15);
    line-height: 100%;
    color: var(--color-black-56);
  }

  &__checkbox{
    appearance: none;
    &:before{
      content: "";
      position: relative;
      display: block;
      border: rem(1) solid var(--color-black-30);
      border-radius: rem(3);
      width: rem(20);
      height: rem(20);
      box-shadow: var(--shadow-box-input);
      background: var(--color-white);
    }

    &:checked{
      &:before{
        background: var(--color-blue);
      }
    }
  }

  &__button{

    width: 100%;
    display: flex;
    margin-bottom: rem(20);
  }

  &__forgot{
    display: flex;
    font-weight: 400;
    @include fluid-text(21, 16);
    line-height: rem(40);
    color: var(--color-black-70);
  }
}